/* estilizando a Página do Cadastro */

#titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    background-color: brown;
    font-size: 100px;
    text-align: center;
}

.botão_div {
    display: flex;
    justify-content: center;
}

#botao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: white;
    background-color: brown;
    width: 400px;
    margin-left: 39%;
    border-radius: 10px;
    display: inline-block;
    margin-top: 3%;
    
}

#botao:hover {
    background-image:linear-gradient(pink, red, purple);
    transition: 0.3s;
}

 